* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
}

nav {
  height: 60px;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.full-container {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  padding: 5px 10px;
  display: flex;
}

.logo {
  display: block;
}

.logo img {
  display: block;
}

nav a {
  text-decoration: none;
  color: black;
}

.btn {
  line-height: 40px;
  padding: 0px 17px;
  border: 1px solid black;
  background-color: white;
  color: #848481;
}

.btn-blue {
  border: none;
  background-color: #0161ff;
  color: white;
}

.jumbotron {
  padding-top: 100px;
  background-color: #b4d0e7;
}

.medium-container {
  max-width: 70%;
  margin: auto;
  display: flex;
}

h1 {
  /* text-align: center; */
  font-size: 4rem;
  margin-bottom: 50px;
}

.text-jumbo {
  width: calc(100% / 3);
}

.jumbotron .text-jumbo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.text-button {
  padding: 10px 17px;
  border: none;
  background-color: #0161ff;
  color: white;
}

.text-jumbo i {
  margin-top: auto;
  font-size: 64px;
}

.img-jumbo {
  width: calc((100% / 3) * 2);
  display: inline-block;
}

.img-jumbo img {
  display: inline-block;
  width: 100%;
  height: 115%;
}

.small-container {
  width: 50%;
  margin: auto;
}

h2 {
  font-size: 2rem;
  padding-top: 100px;
  padding-bottom: 50px;
}

.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
}

.selected {
  border: 4px solid #0161ff;
}

.circle + span {
  margin-right: 25px;
}

/* CARDS */

.business-card {
  flex-direction: column;
  width: 29%;
  border: 1px solid #d8d8da;
  margin: 30px 30px 0 0;
}

.horizontal {
  width: 100%;
}

.business-card * {
  margin-bottom: 15px;
}

.title-card {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #d8d8da;
}

.plan {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 10px;
}

.plan * {
  margin-bottom: 10px;
}

small {
  color: darkgrey;
}

.info-plan {
  display: flex;
  height: 200px;
}

.try-button {
  width: 100%;
  text-align: center;
}

.buy {
  padding-left: 10px;
}

.line-break {
  width: 50px;
  height: 1px;
  background-color: darkgray;
  margin: 30px 0;
  position: relative;
  left: 25px;
}

.highlights-plan {
  display: flex;
  padding-left: 10px;
}

.check {
  color: #0b62ff;
}

.content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.business-card.horizontal div {
  margin-bottom: 0;
  margin-top: 10px;
}

strong {
  font-size: 0.8rem;
  margin-bottom: 20px;
  padding: 0 20px;
}

.business-card.horizontal p {
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 0 20px;
  font-size: 0.9rem;
  width: 80%;
}

/* Partner Sections */

.partner-section {
  margin-top: 80px;
  display: flex;
  gap: 30px;
}

.partner-img {
  width: calc((100% / 3) * 2);
}

.partner-img img {
  width: 100%;
}

.partner-text {
  width: calc(100% / 3);
  align-self: center;
}

.partner-text * {
  margin-bottom: 10px;
}

/* BUSINESS SECTION */

.business-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.business-box {
  width: 31%;
}

.business-box img {
  width: 100%;
}

.business-box h3 {
  margin-bottom: 15px;
}

.short-title {
  width: 60%;
}

/* COMPANY SECTION */

.company-section {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.company-box {
  width: calc(100% / 3);
}

.left {
  display: flex;
  flex-wrap: wrap;
}

.right {
  display: flex;
  flex-wrap: wrap;
}

.logo-company {
  display: inline-block;
  width: 50%;
  height: 200px;
}

.logo-company svg {
  display: block;
  margin: auto;
  height: 100%;
  width: 50%;
  fill: white;
}

.box-1 {
  background-color: #a2d39b;
  border: 10px solid #d2e9cd;
}

.box-2 {
  background-color: #62092b;
}

.box-3 {
  background-color: #0093ce;
}

.box-4 {
  background-color: #ff1b1c;
}

.box-5 {
  background-color: #d50020;
}

.box-6 {
  background-color: #b4d0e7;
}

.box-7 {
  background-color: #0d2481;
}

.box-8 {
  background-color: #ffd830;
}

.center {
  background-color: #f5f5f5;
}
